/* ---- Navbar ---- */
.bar {
    z-index: 1;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    text-decoration: none;
}

/* ---- Nav Tabs ---- */
.tabs {
    padding-left: 200px;
  }
