/* ---- Navbar ---- */
.bar {
    z-index: 1;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    text-decoration: none;
}

/* ---- Nav Tabs and Chats Page ---- */
.chatContainer {
    height: 90vh;
    width: 90vw;
    overflow-x: hidden;
}

.chatTitles {
    margin-left: 26%;
    margin-top: 65px;
    width: 95%;
}

.chats {
    overflow: auto;
    height: 75%;
    margin-right: -200px;
}
