/* ---- Navbar ---- */
.appBar {
  z-index: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #1a237e;
  height: 5vh;
}

.link {
  text-decoration: none;
}

.titleContainer {
  display: flex;
  align-items: center;
  color: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smallPage {
  color: #212121;
}

.bigPage {
  color: #f5f5f5;
}

/* ---- Nav Tabs and Chats Page ---- */
.chatContainer {
  height: 95vh;
  width: 100vw;
}

.chatTitles {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.tabLabel {
  text-align: center;
  font-size: 15px;
}

.chats {
  overflow-y: auto;
  height: 90%;
  overflow-x: hidden;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  .chatTitles {
    width: calc(100vw - 200px);
    margin-left: 200px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
