/* ---- Navbar ---- */
.bar {
    z-index: 1;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    text-decoration: none;
}

/* ---- Nav Tabs and Chats Page ---- */
.chatContainer {
    height: 90vh;
}

.chatTitles {
    padding-left: 200px;
    padding-top: 60px;
}

.chats {
    overflow: auto;
    height: 75%;
}
