.groupContainer {
  height: 35vh;
}

.groupTitles {
  height: 25%;
  text-align: center;
}

.groupLog {
  height: 65%;
  overflow: auto;
  margin-top: -15px;
  list-style: none;
}

#groupRoomForm {
  margin-top: 2px;
}

.groupBtn {
  font-size: small;
  margin-right: -5px;
}