body {
    overflow-x: hidden;
}

/* Home */
.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homeTitle {
  margin-top: 30vh;
  font-size: 100px;
}

/* ---- Login Register ---- */
.lrTitle {
  margin-top: 30vh;
}

.userMsg,
.lrTitle {
  text-align: center;
}

/* ---- Private Chat and Group Chat ---- */
.chat {
  display: flex;
  width: 100vw;
}

.chatForm {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatForm .textfield {
  flex-grow: 1;
  margin-left: 200px;
  background-color: white;
}

.bodyContainer {
  overflow: auto;
  height: 80%;
  overflow-x: hidden;
}

/* ---- Messages ---- */

.messagesContainer { 
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.fromId,
.toId {
  list-style: none;
  word-wrap: break-word;
  color: white;
  border-radius: 0.6rem;
  padding: 1%;
  margin: 5px;
  width: 30%;
}

/* ---- From Messages ---- */
.fromId {
  background-color: #0000ff;
  align-self: end;
}

/* ---- To Messages ---- */
.toId {
  background-color: #808080;
  align-self: start;
}

/* ---- Notifications ---- */

.notifContainer {
  height: 40vh;
}

.notifTitle {
  height: 25%;
  text-align: center;
}

.notifs {
  overflow: auto;
  height: 75%;
  margin-top: -60px;
  list-style: none;
}

/* ---- Input Buttons ---- */

.btn {
  border: none;
  color: rgb(25, 25, 220);
  font-size: medium;
}
.chatForm .btn {
  background-color: white;
}

/* Media Queries */
@media only screen and (min-width: 992px) {
  .messagesContainer {
    position: relative; 
    margin: 0 auto;
    width: 150%;
    margin-left: -40px;
    right: 0;
    padding: 0 200px 200px;
  }
}

@media only screen and (min-width: 768px) {
  .messagesContainer { 
    width: 70vw;
    margin-left: -40px;
  }
}

@media only screen and (max-width: 500px) {
  .notifTitle {
    visibility: hidden;
  }
}
