body {
  overflow: hidden;
}

/* Home */
.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
}

.homeContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatIcon,
.explanationTitle {
  color: #424242;
}

.homeTitle,
.explanationPara {
  color: #1a237e;
}

.aboutText,
.explanationTitle,
.explanationPara {
  text-align: center;
}

.loginRegButtons,
.explanationContainer {
  margin-top: 10px;
}

/* ---- Login Register ---- */
.lrTitle {
  margin-top: 30vh;
}

.userMsg,
.lrTitle {
  text-align: center;
}

/* ---- Private Chat and Group Chat ---- */
.chat {
  display: flex;
  width: 100vw;
}

.chatForm {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatForm .textfield {
  flex-grow: 1;
  /* margin-left: 200px; */
  background-color: white;
}

.bodyContainer {
  margin-top: 20px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

/* ---- Messages ---- */

.messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}

.fromId,
.toId {
  list-style: none;
  word-wrap: break-word;
  color: white;
  border-radius: 0.6rem;
  padding: 1%;
  margin: 5px;
  width: 30%;
}

/* ---- From Messages ---- */
.fromId {
  background-color: #0000ff;
  align-self: end;
}

/* ---- To Messages ---- */
.toId {
  background-color: #808080;
  align-self: start;
}

/* ---- Notifications ---- */

.notifContainer {
  height: 40vh;
}

.notifTitle {
  height: 25%;
  text-align: center;
}

.notifs {
  overflow: auto;
  height: 75%;
  margin-top: -60px;
  list-style: none;
}

/* ---- Input Buttons ---- */

.btn {
  border: none;
  color: rgb(25, 25, 220);
  font-size: medium;
}
.chatForm .btn {
  background-color: white;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .notifTitle {
    /* visibility: hidden; */
  }

  .formInput label {
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .messagesContainer {
    width: 70vw;
    margin-left: -40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .messagesContainer {
    position: relative;
    margin: 0 auto;
    width: 150%;
    margin-left: -40px;
    right: 0;
    padding: 0 200px 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
