/* Home */
.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(183,199,203,1) 0%, rgba(233,228,235,0.8554006968641115) 100%);
}

.homeTitle {
  margin-top: 30vh;
}

/* ---- Login Register ---- */
.lrTitle {
  margin-top: 30vh;
}

.userMsg,
.lrTitle {
  text-align: center;
}

/* ---- Private Chat and Group Chat ---- */
.chat {
  display: flex;
  width: 100vw;
}

.chatForm {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatForm .textfield {
  flex-grow: 1;
  margin-left: 200px;
  z-index: 2;
}

.bodyContainer {
  overflow: auto;
  height: 80%;
  width: 100vw;
  margin-left: 65px;
}

/* ---- Messages ---- */

.messagesContainer { 
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-left: -40px;
}

.fromId,
.toId {
  list-style: none;
  word-wrap: break-word;
  color: white;
  border-radius: 0.6rem;
  padding: 1%;
  margin: 5px;
  width: 30%;
}

/* ---- From Messages ---- */
.fromId {
  background-color: #0000ff;
  align-self: end;
}

/* ---- To Messages ---- */
.toId {
  background-color: #808080;
  align-self: start;
}

/* ---- Notifications ---- */

.notifContainer {
  height: 40vh;
}

.notifTitle {
  height: 25%;
  text-align: center;
}

.notifs {
  overflow: auto;
  height: 75%;
  margin-top: -60px;
  list-style: none;
}

/* ---- Input Buttons ---- */

.btn {
  border: none;
  color: rgb(25, 25, 220);
  font-size: medium;
}
.chatForm .btn {
  background-color: white;
}

/* Media Queries */
@media only screen and (min-width: 992px) {
  .messagesContainer { 
    width: 80vw;
    margin-left: -40px;
  }
}

@media only screen and (min-width: 768px) {
  .messagesContainer { 
    width: 60vw;
    margin-left: -40px;
  }
}

@media only screen and (max-width: 500px) {
  .notifTitle {
    visibility: hidden;
  }
}
